@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;
  background-color: #d6d7da;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
  visibility: hidden;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #1976d2;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1976d2;
}

.region {
  position: relative;
  background: url("https://picsum.photos/id/13/300");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1.2em;
  border-radius: 15px;
  color: #fff;
}
.region::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.region > * {
  position: relative;
  font-size: 1em;
  text-align: right;
  line-height: 1.5;
  color: #ffffff;
}

p {
  font-size: 1.2em;
  font-weight: 500;
}
